---
images:
  tags:
    db_init: "{{ docker_image_repo }}/jijisa/heat:2023.1-ubuntu_jammy"
    cinder_db_sync: "{{ docker_image_repo }}/jijisa/cinder:2023.1-ubuntu_jammy"
    db_drop: "{{ docker_image_repo }}/jijisa/heat:2023.1-ubuntu_jammy"
    rabbit_init: "{{ docker_image_repo }}/library/rabbitmq:3.12.11-management"
    ks_user: "{{ docker_image_repo }}/jijisa/heat:2023.1-ubuntu_jammy"
    ks_service: "{{ docker_image_repo }}/jijisa/heat:2023.1-ubuntu_jammy"
    ks_endpoints: "{{ docker_image_repo }}/jijisa/heat:2023.1-ubuntu_jammy"
    cinder_api: "{{ docker_image_repo }}/jijisa/cinder:2023.1-ubuntu_jammy"
    bootstrap: "{{ docker_image_repo }}/jijisa/heat:2023.1-ubuntu_jammy"
    cinder_scheduler: "{{ docker_image_repo }}/jijisa/cinder:2023.1-ubuntu_jammy"
    cinder_volume: "{{ docker_image_repo }}/jijisa/cinder:2023.1-ubuntu_jammy"
    cinder_volume_usage_audit: "{{ docker_image_repo }}/jijisa/cinder:2023.1-ubuntu_jammy"
    cinder_storage_init: "{{ docker_image_repo }}/openstackhelm/ceph-config-helper:latest-ubuntu_focal"
    cinder_backup: "{{ docker_image_repo }}/jijisa/cinder:2023.1-ubuntu_jammy"
    cinder_backup_storage_init: "{{ docker_image_repo }}/openstackhelm/ceph-config-helper:latest-ubuntu_focal"
    dep_check: "{{ quay_image_repo }}/airshipit/kubernetes-entrypoint:v1.0.0"

volume_deployment:
  type: {{ cinder.volume_deploy.type }}
  pvc:
    enabled: true
    class_name: {{ cinder.volume_deploy.class_name }}
    access_modes: {{ cinder.volume_deploy.access_modes }}
    size: {{ cinder.volume_deploy.size }}

{% if "lvm" in storage_backends %}
labels:
  volume:
    node_selector_key: kubernetes.io/hostname
    node_selector_value: {{ groups['kube_control_plane'][0] }}
{% endif %}

pod:
  replicas:
    api: {{ pod.replicas }}
    backup: {{ pod.replicas }}
    scheduler: 1
    #volume: {% if "lvm" in storage_backends %}1{% else %}{{ pod.replicas }}{% endif %}
    volume: 1

  useHostNetwork:
    volume: {{ enable_iscsi }}
  security_context:
    cinder_api:
      container:
        cinder_api:
          runAsUser: 0
          readOnlyRootFilesystem: false
{% if "netapp" in storage_backends %}
    cinder_volume:
      container:
        cinder_volume:
          capabilities:
            add:
              - SYS_ADMIN
              - NET_ADMIN
              - DAC_OVERRIDE
              - DAC_READ_SEARCH
          readOnlyRootFilesystem: false
{% endif %}
{% if "powerflex" in storage_backends %}
    cinder_volume:
      container:
        cinder_volume:
          privileged: true
          capabilities:
            add:
              - SYS_ADMIN
          readOnlyRootFilesystem: false
  mounts:
    cinder_volume:
      cinder_volume:
        volumeMounts:
          - name: run
            mountPath: /run
          - name: dev
            mountPath: /dev
          - name: libmodules
            mountPath: /lib/modules
            readOnly: true
          - name: sys
            mountPath: /sys
          - name: cinder-pfx
            mountPath: /opt/emc/scaleio/openstack
          - name: cinder-tmp
            mountPath: /var/lib/cinder/tmp
        volumes:
          - name: run
            hostPath:
              path: /run
          - name: dev
            hostPath:
              path: /dev
          - name: libmodules
            hostPath:
              path: /lib/modules
          - name: sys
            hostPath:
              path: /sys
          - name: cinder-pfx
            hostPath:
              path: /opt/emc/scaleio/openstack
          - name: cinder-tmp
            emptyDir: {}
{% endif %}
{% if enable_iscsi %}
    cinder_volume:
      container:
        cinder_volume:
          runAsUser: 0
          privileged: true
          readOnlyRootFilesystem: false
{% endif %}
{% if "lvm" in storage_backends %}
  mounts:
    cinder_volume:
      cinder_volume:
        volumeMounts:
          - name: lvmconf
            mountPath: /etc/lvm/lvm.conf
            readOnly: true
          - name: etctarget
            mountPath: /etc/target
        volumes:
          - name: lvmconf
            hostPath:
              path: /etc/lvm/cinder-volume-lvm.conf
          - name: etctarget
            emptyDir: {}
{% endif %}

bootstrap:
  volume_types:
{% if "ceph" in storage_backends %}
    rbd1:
      volume_backend_name: {{ cinder_backends_map.ceph }}
      access_type: "private"
{% endif %}
{% if "netapp" in storage_backends %}
{% for n in netapp %}
    {{ n.name }}:
      volume_backend_name: {{ n.name }}
      access_type: "private"
      dataLIF: "{{ n.dataLIF }}"
      "image_service:store_id": "{{ n.name }}"
      shares:
{% for share in n.shares %}
        - "{{ share }}"
{% endfor %}
{% endfor %}
{% endif %}
{% if "powerflex" in storage_backends %}
    powerflex:
      volume_backend_name: {{ cinder_backends_map.powerflex }}
      access_type: "private"
      "image_service:store_id": "powerflex"
{% endif %}
{% if "hitachi" in storage_backends %}
    hitachi:
      volume_backend_name: {{ cinder_backends_map.hitachi }}
      access_type: "private"
      "image_service:store_id": "hitachi"
{% endif %}
{% if "primera" in storage_backends %}
    primera:
      volume_backend_name: {{ cinder_backends_map.primera }}
      access_type: "private"
      "image_service:store_id": "primera"
{% endif %}
{% if "lvm" in storage_backends %}
    lvm:
      volume_backend_name: {{ cinder_backends_map.lvm }}
      access_type: "private"
      "image_service:store_id": "lvm"
{% endif %}
{% if "purestorage" in storage_backends %}
    purestorage:
      volume_backend_name: {{ cinder_backends_map.purestorage }}
      access_type: "private"
      "image_service:store_id": "purestorage"
{% endif %}
{% if "powerstore" in storage_backends %}
{% for p in powerstore %}
    {{ p.name }}:
      volume_backend_name: {{ p.name }}
      access_type: "private"
      "image_service:store_id": "{{ p.name }}"
{% if 'nas_host' in p %}
      dataLIF: "{{ p.nas_host }}"
{% endif %}
{% if 'nas_share_path' in p %}
      shares:
        - "{{ p.nas_share_path }}"
{% endif %}
{% endfor %}
{% endif %}

network:
  api:
    ingress:
      annotations:
        nginx.ingress.kubernetes.io/backend-protocol: "https"
conf:
  enable_iscsi: {{ enable_iscsi }}
  enable_powerflex: {{ ("powerflex" in storage_backends)|ternary('true', 'false') }}
  db_acl:
    enabled: true
  software:
    apache2:
      binary: apache2
      start_parameters: -DFOREGROUND
      site_dir: /etc/apache2/sites-enabled
      conf_dir: /etc/apache2/conf-enabled
      mods_dir: /etc/apache2/mods-available
      a2enmod:
        - ssl
      a2dismod: null
{% raw %}
  mpm_event: |
    <IfModule mpm_event_module>
      ServerLimit         1024
      StartServers        32
      MinSpareThreads     32
      MaxSpareThreads     256
      ThreadsPerChild     25
      MaxRequestsPerChild 128
      ThreadLimit         720
    </IfModule>
  wsgi_cinder: |
    {{- $portInt := tuple "volume" "internal" "api" $ | include "helm-toolkit.endpoints.endpoint_port_lookup" }}
    Listen {{ $portInt }}
    <VirtualHost *:{{ $portInt }}>
      ServerName {{ printf "%s.%s.svc.%s" "cinder-api" .Release.Namespace .Values.endpoints.cluster_domain_suffix }}
      WSGIDaemonProcess cinder-api processes=1 threads=1 user=cinder display-name=%{GROUP}
      WSGIProcessGroup cinder-api
      WSGIScriptAlias /  /var/www/cgi-bin/cinder/cinder-wsgi
      WSGIApplicationGroup %{GLOBAL}
      WSGIPassAuthorization On
      AllowEncodedSlashes On
      <IfVersion >= 2.4>
        ErrorLogFormat "%{cu}t %M"
      </IfVersion>
      SetEnvIf X-Forwarded-For "^.*\..*\..*\..*" forwarded
      ErrorLog /dev/stdout
      CustomLog /dev/stdout combined env=!forwarded
      CustomLog /dev/stdout proxy env=forwarded

      SSLEngine on
      SSLCertificateFile      /etc/cinder/certs/tls.crt
      SSLCertificateKeyFile   /etc/cinder/certs/tls.key
      SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1
      SSLCipherSuite          ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
      SSLHonorCipherOrder     on
    </VirtualHost>
{% endraw %}
  ceph:
    admin_keyring: {{ ceph_admin_key }}
    pools:
      backups:
        replication: {{ ceph_pool_default_size }}
        crush_rule: replicated_rule
        chunk_size: 8
        app_name: rbd
      volumes:
        replication: {{ ceph_pool_default_size }}
        crush_rule: replicated_rule
        chunk_size: 8
        app_name: rbd
  cinder:
    DEFAULT:
      rpc_response_timeout: 300
      verify_glance_signatures: disabled
      glance_ca_certificates_file: /etc/cinder/certs/ca.crt
      debug: true
      enable_force_upload: true
      allowed_direct_url_schemes: "{{ cinder.allowed_direct_url_schemes }}"
      cinder_internal_tenant_project_id: internal_cinder
      cinder_internal_tenant_user_id: internal_cinder
      enabled_backends: "{{ cinder.enabled_backends }}"
      default_volume_type: "{{ cinder.default_volume_type }}"
{% if "ceph" in storage_backends and enable_cinder_backup %}
      backup_driver: cinder.backup.drivers.ceph.CephBackupDriver
      backup_ceph_user: cinder-backup
      backup_ceph_pool: backups
{% endif %}
      use_default_quota_class: true
      quota_driver: cinder.quota.DbQuotaDriver
      quota_consistencygroups: -1
      quota_backup_gigabytes: -1
      quota_backups: -1
      quota_gigabytes: -1
      quota_groups: -1
      quota_snapshots: -1
      quota_volumes: -1
    keystone_authtoken:
      cafile: /etc/cinder/certs/ca.crt
    key_manager:
      backend: barbican
    nova:
      auth_version: v3
      auth_type: password
      cafile: /etc/cinder/certs/ca.crt
    oslo_messaging_rabbit:
      ssl: true
      ssl_ca_file: /etc/rabbitmq/certs/ca.crt
      ssl_cert_file: /etc/rabbitmq/certs/tls.crt
      ssl_key_file: /etc/rabbitmq/certs/tls.key
      rabbit_retry_interval: {{ rabbit_retry_interval }}
      rabbit_retry_backoff: {{ rabbit_retry_backoff }}
      rabbit_interval_max: {{ rabbit_interval_max }}
      rabbit_ha_queues: false
      rabbit_quorum_queue: {{ rabbit_quorum_queue }}
      heartbeat_timeout_threshold: {{ heartbeat_timeout_threshold }}
      heartbeat_rate: {{ heartbeat_rate }}
      heartbeat_in_pthread: true
    service_user:
      send_service_user_token: true
      auth_type: password
      auth_url: https://keystone-api.openstack.svc.cluster.local:5000/v3
      project_domain_name: service
      project_name: service
      user_domain_name: service
      username: cinder
      password: {{ cinder.password }}
  rabbitmq: null
  backends:
{% if "ceph" in storage_backends %}
    rbd1:
      volume_driver: cinder.volume.drivers.rbd.RBDDriver
      volume_backend_name: "{{ cinder_backends_map.ceph }}"
      rbd_ceph_conf: "/etc/ceph/ceph.conf"
      rbd_flatten_volume_from_snapshot: false
      rbd_max_clone_depth: 5
      rbd_store_chunk_size: 8
      rados_connect_timeout: -1
      rbd_user: "cinder"
      rbd_pool: "volumes"
      rbd_secret_uuid: "{{ ceph_secret_uuid }}"
      rbd_exclusive_cinder_pool: true
{% else %}
    rbd1: null
{% endif %}
{% if "netapp" in storage_backends %}
{% for n in netapp %}
    {{ n.name }}:
      volume_driver: cinder.volume.drivers.netapp.common.NetAppDriver
      volume_backend_name: {{ n.name }}
      netapp_storage_family: ontap_cluster
      netapp_storage_protocol: nfs
      netapp_vserver: "{{ n.svm }}"
      netapp_server_hostname: "{{ n.managementLIF }}"
      netapp_login: "{{ n.username }}"
      netapp_password: "{{ n.password }}"
      nfs_mount_options: "{{ n.nfsMountOptions }}"
      nfs_shares_config: "/etc/cinder/share_{{ n.name }}"
      nas_secure_file_operations: {{ n.nas_secure_file_operations }}
      nas_secure_file_permissions: {{ n.nas_secure_file_permissions }}
      image_volume_cache_enabled: True
      image_upload_use_cinder_backend: True
      image_upload_use_internal_tenant: True
{% endfor %}
{% endif %}
{% if "powerflex" in storage_backends %}
    powerflex:
      volume_driver: cinder.volume.drivers.dell_emc.powerflex.driver.PowerFlexDriver
      volume_backend_name: "{{ cinder_backends_map.powerflex }}"
      san_ip: "{{ keepalived_vip }}"
      powerflex_storage_pools: "{{ protection_domain_name }}:{{ storage_pool_name }}"
      san_login: admin
      san_password: "{{ gateway_admin_password }}"
      powerflex_rest_server_port: {{ gateway_ssl_port }}
      image_volume_cache_enabled: True
      image_upload_use_cinder_backend: True
      image_upload_use_internal_tenant: True
{% endif %}
{% if "hitachi" in storage_backends %}
    hitachi:
      volume_driver: cinder.volume.drivers.hitachi.hbsd_fc.HBSDFCDriver
      volume_backend_name: "{{ cinder_backends_map.hitachi }}"
      san_ip: "{{ hitachi_san_ip }}"
      san_login: "{{ hitachi_san_login }}"
      san_password: "{{ hitachi_san_password }}"
      use_multipath_for_image_xfer: True
      image_volume_cache_enabled: True
      image_upload_use_cinder_backend: True
      image_upload_use_internal_tenant: True
      suppress_requests_ssl_warnings: True
      hitachi_storage_id: "{{ hitachi_storage_id }}"
      hitachi_storage_cli: REST
      hitachi_pool: "{{ hitachi_pool }}"
      hitachi_ldev_range: "{{ hitachi_ldev_range }}"
      hitachi_target_ports: "{{ hitachi_target_ports }}"
      hitachi_compute_target_ports: "{{ hitachi_compute_target_ports }}"
      hitachi_default_copy_method: FULL
      hitachi_copy_speed: 3
      hitachi_over_subscription: False
      hitachi_rest_disable_io_wait: True
      hitachi_port_scheduler: False
      hitachi_group_create: False
      hitachi_group_delete: False
      hitachi_rest_name_only_discovery: True
{% endif %}
{% if "primera" in storage_backends %}
    primera:
      volume_driver: "{{ primera_volume_driver }}"
      volume_backend_name: "{{ cinder_backends_map.primera }}"
      san_ip: "{{ primera_ip }}"
      san_login: "{{ primera_username }}"
      san_password: "{{ primera_password }}"
      use_multipath_for_image_xfer: True
      image_volume_cache_enabled: True
      image_upload_use_cinder_backend: True
      image_upload_use_internal_tenant: True
      #hpe3par_target_nsp: "0:3:3"
      hpe3par_api_url: "{{ primera_api_url }}"
      hpe3par_username: "{{ primera_username }}"
      hpe3par_password: "{{ primera_password }}"
      hpe3par_cpg: "{{ primera_openstack_cpg }}"
      hpe3par_cpg_snap: "{{ primera_openstack_cpg }}"
      hpe3par_snapshot_retension: 48
      hpe3par_snapshot_expiration: 72
      max_over_scription_raio: 20.0
      reserved_percentage: 15
{% endif %}
{% if "lvm" in storage_backends %}
    lvm:
      volume_driver: {{ lvm_volume_driver }}
      volume_group: {{ lvm_vg_name }}
      volume_backend_name: "{{ cinder_backends_map.lvm }}"
      target_protocol: iscsi
      target_helper: lioadm
      image_volume_cache_enabled: True
      image_upload_use_cinder_backend: True
      image_upload_use_internal_tenant: True
{% endif %}
{% if "purestorage" in storage_backends %}
    purestorage:
      volume_driver: {{ purestorage_volume_driver }}
      volume_backend_name: "{{ cinder_backends_map.purestorage }}"
      san_ip: {{ purestorage_mgmt_ip }}
      pure_api_token: {{ purestorage_api_token }}
      use_multipath_for_image_xfer: True
      image_volume_cache_enabled: True
      image_upload_use_cinder_backend: True
      image_upload_use_internal_tenant: True
      pure_eradicate_on_delete: {{ pure_eradicate_on_delete }}
      pure_automatic_max_oversubscription_ratio: {{ pure_automatic_max_oversubscription_ratio }}
{% endif %}
{% if "powerstore" in storage_backends %}
{% for p in powerstore %}
    {{ p.name }}:
      volume_driver: "{{ p.volume_driver }}"
      volume_backend_name: "{{ p.name }}"
      image_upload_use_cinder_backend: True
      image_upload_use_internal_tenant: True
{% if p.blockProtocol == 'FC' %}
      image_volume_cache_enabled: True
      san_ip: "{{ p.apiserver }}"
      san_login: "{{ p.username }}"
      san_password: "{{ p.password }}"
      storage_protocol: "{{ p.blockProtocol }}"
      use_multipath_for_image_xfer: True
{% elif p.blockProtocol == 'None' %}
      nfs_qcow2_volumes: False
      nfs_snapshot_support: True
      nfs_sparsed_volumes: True
      nas_host: "{{ p.nas_host }}"
      nfs_shares_config: "/etc/cinder/share_{{ p.name }}"
      nas_secure_file_operations: False
      nas_secure_file_permissions: False
{% endif %}
{% endfor %}
{% endif %}

endpoints:
  oslo_db:
    auth:
      admin:
        username: root
        password: {{ mariadb.admin_password }}
      cinder:
        username: cinder
        password: {{ cinder.password }}
  oslo_messaging:
    port:
      https:
        default: 15680
    auth:
      admin:
        username: rabbitmq
        password: {{ rabbitmq.password }}
      cinder:
        username: cinder
        password: {{ cinder.password }}
    statefulset:
      replicas: {{ pod.quorum_replicas }}
  identity:
    auth:
      admin:
        cacert: /etc/ssl/certs/openstack-helm.crt
        username: admin
        password: {{ os_admin_password }}
      cinder:
        cacert: /etc/ssl/certs/openstack-helm.crt
        username: cinder
        password: {{ cinder.password }}
      test:
        cacert: /etc/ssl/certs/openstack-helm.crt
    scheme:
      default: https
    port:
      api:
        default: 8443
        public: 8443
  image:
    scheme:
      default: https
    port:
      api:
        public: 8443
  image_registry:
    scheme:
      default: https
    port:
      api:
        public: 8443
  volume:
    name: cinder
    host_fqdn_override:
      default:
        tls:
          secretName: cinder-tls-api
          duration: {{ tls.duration }}
          renewBefore: {{ tls.renewBefore }}
          issuerRef:
            name: ca-issuer
            kind: ClusterIssuer
    path:
      default: /v3/%(tenant_id)s
    scheme:
      default: https
      internal: https
    port:
      api:
        public: 8443
  volumev3:
    name: cinderv3
    host_fqdn_override:
      default:
        tls:
          secretName: cinder-tls-api
          duration: {{ tls.duration }}
          renewBefore: {{ tls.renewBefore }}
          issuerRef:
            name: ca-issuer
            kind: ClusterIssuer
    scheme:
      default: https
      internal: https
    port:
      api:
        public: 8443
  ingress:
    port:
      ingress:
        default: 8443
{% if "ceph" not in storage_backends %}
# remove cinder-storage-init dependency
dependencies:
  static:
    api:
      jobs:
        - cinder-db-sync
        - cinder-ks-user
        - cinder-ks-endpoints
        - cinder-rabbit-init
    backup:
      jobs:
        - cinder-db-sync
        - cinder-ks-user
        - cinder-ks-endpoints
        - cinder-rabbit-init
    scheduler:
      jobs:
        - cinder-db-sync
        - cinder-ks-user
        - cinder-ks-endpoints
        - cinder-rabbit-init
    volume:
      jobs:
        - cinder-db-sync
        - cinder-ks-user
        - cinder-ks-endpoints
        - cinder-rabbit-init
    volume_usage_audit:
      jobs:
        - cinder-db-sync
        - cinder-ks-user
        - cinder-ks-endpoints
        - cinder-rabbit-init
{% endif %}

# powerstore dellfcopy from local repo
powerstore_nfs_enabled: {{ powerstore_nfs_enabled }}
dellfcopy_download_url: "{{ dellfcopy_download_url }}"

manifests:
  certificates: true
  cron_volume_usage_audit: {{ enable_cron_volume_usage_audit }}
  deployment_backup: {{ enable_cinder_backup }}
  job_backup_storage_init: {{ enable_cinder_backup }}
  job_storage_init: {{ ("ceph" in storage_backends)|ternary('true', 'false') }}
  pvc_conversion: {{ cinder.pvc_conversion }}
...
