---
deployment:
  ceph: false
  client_secrets: true
  rbd_provisioner: false
  csi_rbd_provisioner: false
  cephfs_provisioner: false
storageclass:
  rbd:
    provision_storage_class: false
  csi_rbd:
    provision_storage_class: false
  cephfs:
    provision_storage_class: false
network:
  public: {{ ceph_public_network }}
  cluster: {{ ceph_cluster_network }}
conf:
  ceph:
    global:
      mon_host: {% for h in groups['mons'] %}{{ hostvars[h]['ansible_' + storage_iface_name].ipv4.address }}{% if not loop.last %},{% endif %}{% endfor %}

manifests:
  configmap_bin: false
  configmap_bin_common: false
  configmap_etc: true
  deployment_rbd_provisioner: false
  deployment_csi_rbd_provisioner: false
  deployment_cephfs_provisioner: false
  job_bootstrap: false
  job_cephfs_client_key: false
  job_image_repo_sync: false
  job_namespace_client_key_cleaner: false
  job_namespace_client_key: false
  job_namespace_client_ceph_config: false
  storageclass: false
  helm_tests: false
  secret_registry: false
...
