---
images:
  tags:
    #mariadb: {{ docker_image_repo }}/jijisa/mariadb:11.4.4-ubuntu_noble
    mariadb: {{ docker_image_repo }}/jijisa/mariadb:10.11.11-ubuntu_jammy
    prometheus_create_mysql_user: {{ docker_image_repo }}/jijisa/mariadb:11.4.4-noble
    dep_check: {{ quay_image_repo }}/airshipit/kubernetes-entrypoint:latest-ubuntu_jammy
    mariadb_backup: {{ quay_image_repo }}/airshipit/porthole-mysqlclient-utility:latest-ubuntu_jammy
    ks_user: {{ docker_image_repo }}/jijisa/heat:2024.1-ubuntu_jammy
    mariadb_controller: {{ docker_image_repo }}/jijisa/mariadb:10.11.11-ubuntu_jammy

pod:
  replicas:
    server: {{ pod.quorum_replicas }}
  security_context:
    server:
      container:
        perms:
          readOnlyRootFilesystem: false
        mariadb:
          runAsUser: 0
          allowPrivilegeEscalation: true
          readOnlyRootFilesystem: false
volume:
  enabled: true
  class_name: {{ storageclass_name }}
  size: {{ mariadb.volume_size }}

endpoints:
  local_image_registry: null
  monitoring: null
  prometheus_mysql_exporter: null
  identity: null
  oslo_db:
    host_fqdn_override:
      default:
        tls:
          secretName: mariadb-tls-direct
          duration: {{ tls.duration }}
          renewBefore: {{ tls.renewBefore }}
          issuerRef:
            name: ca-issuer
            kind: ClusterIssuer
    auth:
      admin:
        username: root
        password: {{ mariadb.admin_password }}
monitoring:
  prometheus:
    enabled: false
    mysqld_exporter:
      scrape: false

db_acl_cidrs:
  - "{{ kube_pods_subnet }}"
  - "{{ ntp_allowed_cidr }}"
  - "{{ svc_cidr }}"
conf:
  backup:
    enabled: false
    days_to_keep: 7
  db_acl:
    enabled: true
    cidr: "{{ db_acl_cidrs|ansible.builtin.unique|join(',') }}"

network_policy:
  mariadb:
    egress: null
    ingress:
      - from:
        - podSelector:
            matchLabels:
              application: mariadb
        - podSelector:
            matchLabels:
              application: keystone
        - podSelector:
            matchLabels:
              application: placement
        - podSelector:
            matchLabels:
              application: glance
        - podSelector:
            matchLabels:
              application: cinder
        - podSelector:
            matchLabels:
              application: nova
        - podSelector:
            matchLabels:
              application: neutron
        - podSelector:
            matchLabels:
              application: horizon
        - podSelector:
            matchLabels:
              application: barbican
        - podSelector:
            matchLabels:
              application: btx
        ports:
          - protocol: TCP
            port: 3306
          - protocol: TCP
            port: 4444
          - protocol: TCP
            port: 4567
          - protocol: TCP
            port: 4568
  prometheus-mysql-exporter: null

manifests:
  certificates: true
  cron_job_mariadb_backup: false
  job_ks_user: false
  pvc_backup: false
  network_policy: true
...
