---
images:
  tags:
    dep_check: {{ quay_image_repo }}/airshipit/kubernetes-entrypoint:latest-ubuntu_jammy
    memcached: {{ docker_image_repo }}/library/memcached:1.6.35-alpine

monitoring:
  prometheus:
    enabled: false
    memcached_exporter:
      scrape: false
...
