---
images:
  tags:
    dep_check: {{ quay_image_repo }}/airshipit/kubernetes-entrypoint:v1.0.0
    memcached: {{ docker_image_repo }}/library/memcached:1.6.17

monitoring:
  prometheus:
    enabled: false
    memcached_exporter:
      scrape: false
...
