---
images:
  tags:
    openvswitch_db_server: {{ docker_image_repo }}/openstackhelm/openvswitch:latest-ubuntu_focal
    openvswitch_vswitchd: {{ docker_image_repo }}/openstackhelm/openvswitch:latest-ubuntu_focal
    dep_check: {{quay_image_repo }}/airshipit/kubernetes-entrypoint:v1.0.0
...
