---
images:
  tags:
    openvswitch_db_server: {{ docker_image_repo }}/openstackhelm/openvswitch:latest-ubuntu_jammy
    openvswitch_vswitchd: {{ docker_image_repo }}/openstackhelm/openvswitch:latest-ubuntu_jammy
    dep_check: {{ quay_image_repo }}/airshipit/kubernetes-entrypoint:latest-ubuntu_jammy
...
