---
images:
  tags:
    ovn_ovsdb_nb: {{ docker_image_repo }}/openstackhelm/ovn:ubuntu_jammy-20250426
    ovn_ovsdb_sb: {{ docker_image_repo }}/openstackhelm/ovn:ubuntu_jammy-20250426
    ovn_northd: {{ docker_image_repo }}/openstackhelm/ovn:ubuntu_jammy-20250426
    ovn_controller: {{ docker_image_repo }}/openstackhelm/ovn:ubuntu_jammy-20250426
    ovn_controller_kubectl: {{ docker_image_repo }}/openstackhelm/ceph-config-helper:ubuntu_jammy_19.2.2-1-20250414
    dep_check: {{quay_image_repo }}/airshipit/kubernetes-entrypoint:latest-ubuntu_jammy

labels:
  ovn_ovsdb_nb:
    node_selector_key: openstack-network-plane
    node_selector_value: enabled
  ovn_ovsdb_sb:
    node_selector_key: openstack-network-plane
    node_selector_value: enabled
  ovn_northd:
    node_selector_key: openstack-network-plane
    node_selector_value: enabled
  ovn_controller:
    node_selector_key: openvswitch
    node_selector_value: enabled

pod:
  replicas:
    ovn_ovsdb_nb: {{ pod.quorum_replicas }}
    ovn_ovsdb_sb: {{ pod.quorum_replicas }}
    ovn_northd: {{ pod.replicas }}

volume:
  ovn_ovsdb_nb:
    enabled: true
    class_name: {{ storageclass_name }}
    size: 5Gi
  ovn_ovsdb_sb:
    enabled: true
    class_name: {{ storageclass_name }}
    size: 5Gi

network:
  interface:
    tunnel: "{{ neutron.tunnel }}"

conf:
  auto_bridge_add:
{% for b in ovs_provider %}
    {{ b.bridge }}:{{ b.iface }}
{% endfor %}  
...
