apiVersion: v1
kind: Secret
metadata:
  name: "{{ hitachi_secret_name }}"
  namespace: "{{ hitachi_namespace }}"
type: Opaque
data:
  url: {{ hsvp_url | b64encode }}
  user: {{ hsvp_user | b64encode }}
  password: {{ hsvp_password | b64encode }}
