[submodule "btx"]
	path = btx
	url = https://github.com/iorchard/btx
[submodule "nova_compute_sshkey_copy"]
	path = nova_compute_sshkey_copy
	url = https://github.com/iorchard/nova_compute_sshkey_copy.git
[submodule "nova_vnc_cert"]
	path = nova_vnc_cert
	url = https://github.com/iorchard/nova_vnc_cert.git
[submodule "kubespray"]
	path = kubespray
	url = https://github.com/iorchard/kubespray.git
[submodule "ceph-ansible"]
	path = ceph-ansible
	url = https://github.com/iorchard/ceph-ansible.git
