[defaults]
inventory = ./hosts
nocolor = true
host_key_checking = false
deprecation_warnings = false
jinja2_native = true
callback_whitelist = profile_tasks
force_valid_group_names = ignore
vault_password_file = .vaultpass
remote_port=22
library = kubespray/library/:ceph-ansible/library/
roles_path  = roles/:kubespray/roles/:ceph-ansible/roles/
module_utils = ceph-ansible/module_utils
