---
artifacts_dir: "{{ ansible_env.HOME }}/netapp-artifacts"
trident_version: "22.10.0"
trident_download_url: "https://github.com/NetApp/trident/releases/download/v{{ trident_version }}/trident-installer-{{ trident_version }}.tar.gz"
unarchive_dir: "trident-installer"
bin_dir: "/usr/bin"

template_files:
  - {dest: "{{ artifacts_dir }}/backend.json"}
  - {dest: "{{ artifacts_dir }}/storageclass.yaml"}
  - {dest: "{{ artifacts_dir }}/setup/trident-daemonset.yaml"}
  - {dest: "{{ artifacts_dir }}/setup/trident-deployment.yaml"}
...
