---
release_group: null
network:
  backend:
  - openvswitch
conf:
  ceph:
    enabled: true
    admin_keyring: {{ ceph_admin_key }}
    cinder:
      user: cinder
      keyring: {{ ceph_cinder_key }}
      secret_uuid: {{ ceph_secret_uuid }}
  libvirt:
    listen_addr: 0.0.0.0
...
