---
images:
  tags:
    dep_check: {{ containerd_insecure_registries.local_registry }}/airshipit/kubernetes-entrypoint:v1.0.0
    memcached: {{ containerd_insecure_registries.local_registry }}/library/memcached:1.6.17

monitoring:
  prometheus:
    enabled: false
    memcached_exporter:
      scrape: false
...
