---
images:
  tags:
    rabbitmq_init: {{ containerd_insecure_registries.local_registry }}/openstackhelm/heat:yoga-ubuntu_focal
    rabbitmq: {{ containerd_insecure_registries.local_registry }}/library/rabbitmq:3.11
    dep_check: {{ containerd_insecure_registries.local_registry }}/airshipit/kubernetes-entrypoint:v1.0.0

conf:
  rabbitmq:
    ssl_options:
      cacertfile: "/etc/rabbitmq/certs/ca.crt"
      certfile: "/etc/rabbitmq/certs/tls.crt"
      keyfile: "/etc/rabbitmq/certs/tls.key"
      verify: verify_peer
      fail_if_no_peer_cert: false
    management:
      ssl:
        cacertfile: "/etc/rabbitmq/certs/ca.crt"
        certfile: "/etc/rabbitmq/certs/tls.crt"
        keyfile: "/etc/rabbitmq/certs/tls.key"
pod:
  replicas:
    server: {{ pod.replicas }}
volume:
  size: {{ rabbitmq.volume_size }}
  class_name: {{ storageclass_name }}
monitoring:
  prometheus:
    enabled: false
    rabbitmq_exporter:
      scrape: false
endpoints:
  oslo_messaging:
    host_fqdn_override:
      default:
        tls:
          secretName: rabbitmq-tls-direct
          duration: {{ tls.duration }}
          renewBefore: {{ tls.renewBefore }}
          issuerRef:
            name: ca-issuer
            kind: ClusterIssuer
    port:
      https:
        default: 15680
        public: 443
    auth:
      user:
        username: rabbitmq
        password: {{ rabbitmq.password }}
forceBoot:
  enabled: true
manifests:
  certificates: true
...
