version: 0.1
log:
  fields:
    service: registry
storage:
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: {{ genesis_registry.root_dir }}
http:
  addr: {{ genesis_registry.addr }}
  headers:
    X-Content-Type-Options: [nosniff]
  secret: {{ registry_secret }}
  tls:
    certificate: {{ tls_server.crt }}
    key: {{ tls_server.key }}
health:
  storagedriver:
    enabled: false
compatibility:
  schema1:
    enabled: true
