{
  "version": 1,
  "storageDriverName": "ontap-nas",
  "backendName": "netapp",
  "managementLIF": "{{ netapp[0].managementLIF }}",
  "dataLIF": "{{ netapp[0].dataLIF }}",
  "svm": "{{ netapp[0].svm }}",
  "username": "{{ netapp[0].username }}",
  "password": "{{ netapp[0].password }}",
  "nfsMountOptions": "{{ netapp[0].nfsMountOptions }}"
}
