---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ primera_secret.name }}"
  namespace: "{{ primera_namespace }}"
stringData:
  serviceName: "{{ primera_secret.service_name }}"
  servicePort: "{{ primera_secret.service_port }}"
  backend: "{{ primera_secret.backend }}"
  username: "{{ primera_secret.username }}"
  password: "{{ primera_secret.password }}"
...
