---
service_name: "keepalived"

# keepalived on mgmt
keepalived_interface: ""
keepalived_vip: ""

# keepalived on service
keepalived_interface_svc: ""
keepalived_vip_svc: ""
keepalived_svc_exists: "{{ (keepalived_interface_svc and keepalived_vip_svc) | ternary(true, false) }}"

# vrrp script
# check interval in seconds
vrrp_script_interval: 3
# seconds after which script is considered to have failed
vrrp_script_timeout: 3
# requires failures for KO
vrrp_script_fall: 2
# requires successes for OK
vrrp_script_rise: 1
...
