---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: localrepo
  namespace: {{ localrepo.namespace }}
rules:
- apiGroups:
  - ""
  - extensions
  - batch
  - apps
  resources:
  - jobs
  - pods
  verbs:
  - get
  - list
...
