---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: localrepo-pvc
  namespace: {{ localrepo.namespace }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ localrepo.storage }}
  storageClassName: {{ storageclass_name }}
  volumeMode: Filesystem
...
