---
artifacts_dir: "{{ ansible_env.HOME }}/ceph-csi-artifacts"
ceph_cluster_id: ~
ceph_user_id: "kube"
ceph_user_key: ~
ceph_pool: "kube"
pod:
  replicas: 1

template_files:
  - {dest: "{{ artifacts_dir }}/00-csi-configmap.yml"}
  - {dest: "{{ artifacts_dir }}/03-csi-rbd-secret.yml"}
  - {dest: "{{ artifacts_dir }}/06-csi-rbdplugin-provisioner.yaml"}
  - {dest: "{{ artifacts_dir }}/07-csi-rbdplugin.yaml"}
  - {dest: "{{ artifacts_dir }}/08-csi-rbd-sc.yml"}

# container image versions
cephcsi_version: "v3.7.2"
csi_attacher_version: "v4.0.0"
csi_node_driver_registrar_version: "v2.5.1"
csi_provisioner_version: "v3.3.0"
csi_resizer_version: "v1.6.0"
csi_snapshooter_version: "v6.1.0"
# wait timeout for registry in seconds (default: 300s = 5m)
registry_ready_timeout: 300
...
