---
artifacts_dir: "{{ ansible_env.HOME }}/ceph-csi-artifacts"
ceph_cluster_id: ~
ceph_user_id: "kube"
ceph_user_key: ~
ceph_pool: "kube"
pod:
  replicas: 1

template_files:
  - {dest: "{{ artifacts_dir }}/00-csi-configmap.yml"}
  - {dest: "{{ artifacts_dir }}/03-csi-rbd-secret.yml"}
  - {dest: "{{ artifacts_dir }}/06-csi-rbdplugin-provisioner.yaml"}
  - {dest: "{{ artifacts_dir }}/07-csi-rbdplugin.yaml"}
  - {dest: "{{ artifacts_dir }}/08-csi-rbd-sc.yml"}

manifest_files:
  - "{{ artifacts_dir }}/00-csi-configmap.yml"
  - "{{ artifacts_dir }}/01-csi-kms-configmap.yml"
  - "{{ artifacts_dir }}/02-ceph-configmap.yml"
  - "{{ artifacts_dir }}/03-csi-rbd-secret.yml"
  - "{{ artifacts_dir }}/04-csi-provisioner-rbac.yaml"
  - "{{ artifacts_dir }}/05-csi-nodeplugin-rbac.yaml"
  - "{{ artifacts_dir }}/06-csi-rbdplugin-provisioner.yaml"
  - "{{ artifacts_dir }}/07-csi-rbdplugin.yaml"
  - "{{ artifacts_dir }}/08-csi-rbd-sc.yml"

# container image versions
cephcsi_version: "v3.14.2"
csi_attacher_version: "v4.9.0"
csi_node_driver_registrar_version: "v2.14.0"
csi_provisioner_version: "v5.3.0"
csi_resizer_version: "v1.14.0"
csi_snapshotter_version: "v8.3.0"
...
