---
conf:
  db_acl:
    enabled: true
  placement:
    keystone_authtoken:
      service_token_roles_required: true
    oslo_policy:
      policy_file: /etc/placement/policy.yaml
endpoints:
  identity:
    auth:
      admin:
        username: admin
        password: {{ os_admin_password }}
      glance:
        username: glance
        password: {{ glance.password }}"
    port:
      api:
        default: 8080
        public: 8080
  placement:
    port:
      api:
        public: 8080
  oslo_db:
    auth:
      admin:
        username: root
        password: {{ mariadb.admin_password }}
      placement:
        username: placement
        password: {{ placement.password }}
      nova_api:
        username: nova
        password: {{ nova.password }}
  identity:
    auth:
      admin:
        username: admin
        password: {{ os_admin_password }}
      placement:
        username: placement
        password: {{ placement.password }}
...
