---
version: {{ pfx_version }}

images:
  #driverRepository: {{ docker_image_repo }}/dellemc
  driverRepository: docker.io/dellemc
  # CSI sidecars
  attacher: {{ kube_image_repo }}/sig-storage/csi-attacher:{{ csi_attacher_version }}
  provisioner: {{ kube_image_repo }}/sig-storage/csi-provisioner:{{ csi_provisioner_version }}
  snapshotter: {{ kube_image_repo }}/sig-storage/csi-snapshotter:{{ csi_snapshotter_version }}
  resizer: {{ kube_image_repo }}/sig-storage/csi-resizer:{{ csi_resizer_version }}
  registrar: {{ kube_image_repo }}/sig-storage/csi-node-driver-registrar:{{ csi_node_driver_registrar_version }}

logLevel: "info"

# "controller" allows to configure controller specific parameters
controller:
  controllerCount: {{ pod.replicas }}
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""
...
