---
version: v2.6.0

images:
  driverRepository: {{ docker_image_repo }}/dellemc
  powerflexSdc: {{ docker_image_repo }}/dellemc/sdc:3.6.0.6

logLevel: "info"

# "controller" allows to configure controller specific parameters
controller:
  replication:
    image: {{ docker_image_repo }}/dellemc/dell-csi-replicator:v1.4.0
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""

node:
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""

vgsnapshotter:
  image: {{ docker_image_repo }}/dellemc/csi-volumegroup-snapshotter:v1.2.0

podmon:
  image: {{ docker_image_repo }}/dellemc/podmon:v1.5.0

authorization:
  sidecarProxyImage: {{ docker_image_repo }}/dellemc/csm-authorization-sidecar:v1.6.0
