---
version: {{ pfx_version }}

images:
  driverRepository: {{ docker_image_repo }}/dellemc
  powerflexSdc: {{ docker_image_repo }}/dellemc/sdc:{{ pfx_sdc_version }}

logLevel: "info"

# "controller" allows to configure controller specific parameters
controller:
  replication:
    image: {{ docker_image_repo }}/dellemc/dell-csi-replicator:{{ pfx_dell_csi_replicator_version }}
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""

node:
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""

vgsnapshotter:
  image: {{ docker_image_repo }}/dellemc/csi-volumegroup-snapshotter:{{ pfx_csi-volumegroup-snapshotter_version }}

podmon:
  image: {{ docker_image_repo }}/dellemc/podmon:{{ pfx_podmon_version }}

authorization:
  sidecarProxyImage: {{ docker_image_repo }}/dellemc/csm-authorization-sidecar:{{ pfx_csm_authorization_sidecar_version }}
