- username: "{{ pfmp_username }}"
  password: "{{ pfmp_password }}"
  systemID: "{{ systemid }}"
  endpoint: "https://{{ pfmp_ip }}:{{ pfmp_port }}"
  skipCertificateValidation: true
  mdm: "{{ mdm_ip | join(',') }}"
