- username: "admin"
  password: "{{ gateway_admin_password }}"
  systemID: "{{ systemid }}"
  endpoint: "https://{{ keepalived_vip }}:{{ gateway_ssl_port }}"
  skipCertificateValidation: true
  mdm: "{{ mdm_ip | join(',') }}"
