---
packages:
  - rsyslog
  - haproxy

rsyslog_conf:
  - {dest: "/etc/rsyslog.d/haproxy.conf"}

service_conf:
    - {dest: "{{ haproxy_conf_dir }}/haproxy.cfg", src: "{{ force_active_standby | ternary('{{ haproxy_conf_dir }}/haproxy.cfg_active_standby', '{{ haproxy_conf_dir }}/haproxy.cfg') }}", owner: "root", group: "{{ service_name }}", mode: "0640"}

systemd_service_name:
  - rsyslog.service
  - haproxy.service
...
