---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ceph-csi-config
  namespace: ceph-csi
data:
  config.json: |-
    [
      {
        "clusterID": "{{ ceph_cluster_id }}",
        "monitors": [
{% for h in groups['mons'] %}
          "{{ hostvars[h].monitor_address }}"{% if not loop.last %},{% endif %}
{% endfor %}

        ]
      }
    ]
...
