arrays:
{% for p in powerstore %}
  - endpoint: "https://{{ p.apiserver }}/api/rest"
    globalID: "{{ p.globalID }}"
    username: "{{ p.username }}"
    password: "{{ p.password }}"
    skipCertificateValidation: {{ powerstore_skip_cert_validation }}
    isDefault: {{ p.isDefault }}
    blockProtocol: "{{ p.blockProtocol }}"
{% endfor %}
