apiVersion: apps/v1
kind: Deployment
metadata:
  name: asklepios
  namespace: kube-system
  labels:
    app: asklepios
spec:
  replicas: 1
  selector:
    matchLabels:
      app: asklepios
  template:
    metadata:
      labels:
        app: asklepios
    spec:
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
      priorityClassName: system-cluster-critical
      serviceAccountName: asklepios-sa
      containers:
        - name: asklepios
          image: {{ docker_image_repo }}/jijisa/asklepios:{{ asklepios.version }}
          imagePullPolicy: IfNotPresent
          command:
            - "/bin/asklepios"
          args:
            - "-v={{ asklepios.verbose | ternary(4, 0) }}"
            - "serve"
            - "--config"
            - "/config-dir/config.yaml"
          livenessProbe:
            exec:
              command:
                - "/bin/asklepios"
                - "probe"
            initialDelaySeconds: {{ asklepios.initialDelaySeconds }}
            periodSeconds: {{ asklepios.periodSeconds }}
            failureThreshold: {{ asklepios.failureThreshold }}
            terminationGracePeriodSeconds: {{ asklepios.terminationGracePeriodSeconds }}
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
          volumeMounts:
            - mountPath: /config-dir
              name: config-volume
      volumes:
      - name: config-volume
        configMap:
          name: asklepios-configmap
      tolerations:
      - effect: NoExecute
        key: node.kubernetes.io/not-ready
        operator: Exists
        tolerationSeconds: {{ asklepios.tolerationSeconds }}
      - effect: NoExecute
        key: node.kubernetes.io/unreachable
        operator: Exists
        tolerationSeconds: {{ asklepios.tolerationSeconds }}
